h1 {
    font-size: 20pt;
    color: black;
}
h2 {
    font-size: 15pt;
    color:black;
}
html {
    background-color:whitesmoke;
}
ul {
    list-style:inside;
}
body {
    background: #fff;
    background-image: url("backgroundimg.jpg");
    background-repeat: repeat-y;
    background-size:cover;
    color:black;
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    line-height: 1.5;
}