h1{
    text-align:center;
}
.User-inputs{
    text-align: center;
}
.Analyze-Button{
    text-align: center;
}
.navbar{
    background-color: mediumpurple;
}
.results{
    text-align: center;
}