body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
    background-image: url("background.jpg");
    background-repeat: repeat-y;
    background-size:cover;
  color: #FFF;
  text-shadow: -1px -1px #333;
}
body h1 {
  font-weight: normal;
}

body h2{
    font-size: 15pt
}
body .turn {
  margin-bottom: 10px;
}
body table {
  border-collapse: collapse;
  width: 300px;
  margin: 0 auto;
}
body table td {
  width: 50px;
  height: 100px;
  border: 5px solid #333;
  cursor: pointer;
}
body table td:before {
  font-size: 1.5em;
  line-height: 1;
}
body table td.cross:before {
  content: "X";
  color: blueviolet;
}
body table td.circle:before {
  content: "O";
  color: greenyellow;
}
body .reset {
  background: pink;
  border: 1px solid #333;
  padding: 5px 10px;
  color: #FFF;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
}
body .reset:hover {
  opacity: 0.8;
}